* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

input {
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header > h1 {
  display: flex;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
}

.currentPlayer {
  color: var(--code);
}

.thead .gameRow section:nth-child(3),
.tbody .gameRow section:nth-child(3),
.thead .gameRow section:nth-child(4),
.tbody .gameRow section:nth-child(4) {
  text-align: right;
}

.tbody {
  font-size: 32px;
}

.gameRow {
  display: grid;
  grid-template-columns: 80px 2fr 1fr 1fr;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

.tbody .currentPlayer > section:first-child > div {
  text-align: center;
}

.tbody .currentPlayer > section:first-child > div:first-child {
  animation-name: rotation;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

main > section:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

main > section:last-child > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.wait {
  transition: all 0.45s ease-in;
}

.roll {
  transform: rotate(359deg);
}

.w-full {
  width: 100%;
}

.newPlayerSection {
  grid-template-columns: 2fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.currentPause {
  height: 35px;
}
@media only screen and (max-width: 760px) {
  .newPlayerSection {
    grid-template-columns: 1fr;
  }

  .tbody {
    font-size: 24px;
  }

  .currentPause {
    height: 24px;
  }
}

@media only screen and (max-width: 540px) {
  main > section:last-child {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .tbody {
    font-size: 16px;
  }

  .currentPause {
    height: 16px;
  }
}
